.banner{
    background-image: url("https://firebasestorage.googleapis.com/v0/b/spotifyarts-5c791.appspot.com/o/karol%20g.jpg?alt=media&token=44c1cd50-e8f7-4221-a1ed-8a1cb834372d");
    background-position: top center;
    background-size: cover;
    padding: 5% 20% 40% 20%;
}